<div class="row">
    <div class="menu col-4 ml-auto">
        {{#each sushi}}
            {{#unless devour}}
            <div class="card px-2 align-middle mt-1 sushi" data-id="{{id}}">
                <p>{{name}}</p>
            </div>
            {{/unless}}
        {{/each}}
    </div>

    <div class="devour">
        {{#each sushi}}
            {{#unless devour}}
            <button class="btn btn-outline-danger px-2 align-middle w-100 mt-1 eat" data-id="{{id}}">
                Devour!
            </button>
            {{/unless}}
        {{/each}}
    </div>

    <div class="eaten col-4 mr-auto">
        {{#each sushi}}
            {{#if devour}}
            <div class="card px-2 align-middle mt-1 eaten" data-id="{{id}}">
                <p>{{name}}</p>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>
